header.page-header
	h2.page-header-title #{title}
	p
		| This application uses Node.js to create a streaming connection with Twitter.
	p
		| The Node application receives tweets that are geotaggedin realtime and passes them to the front-end of the
		| to any clients using Socket.io.
	p
		em
			| Last updated:&nbsp;
			span(id="last-update") Never